<main class="container">

    <h1>Login</h1>
    <form action="/api/sessions/login" method="POST" class="form-group w-50">
        <label>Email</label>
        <input type="email" name="email" class="form-control">
        <label>Password</label>
        <input type="text" name="password" class="form-control">
        <button class="btn btn-outline-dark w-100 mt-3">Enviar</button>
    </form>
</main>