
{{!-- body --}}
<div>
    <h1>¡Hola, {{ user.name }}!, ¡Que gusto verte!</h1>
    <h2>Socket Io</h2>
    <hr>
    <form action="">
        <input type="text" name="mensaje">
        <input type="submit" >
    </form>
    // const mensaje =  'mensaje'
    <hr>
    {{#if isAdmin}}
        {{#each fakeApi}}
            <div>
                <p>Nombre del producto: {{this.name}}</p>
                <p>Precio: {{this.price}}</p>
                {{!-- <p>{{}}</p> --}}
            </div>
        {{/each}}
    {{else}}
        <h2>Ud No tiene permisos necesarios para ver los productos</h2>
    {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/virtual/js/index.js"></script>