<div>
    <h1>Inyección de cookies</h1>
    <form id="cookieForm" onsubmit="return false">
        <label>Username</label>
        <input name="username">
        <br />
        <label>password</label>
        <input name="password">
        <input type="submit">
    </form>
    <button onclick="getCookie()">Ver Cookie</button>
</div>
<script src="/virtual/js/cookieSetter.js"></script>
